/uManagerTestPlugin/nbproject/private/
/uManagerTestPlugin/build/
/uManagerTestPlugin/dist/
/Micro-Manager-Addons-master/FrameAverager.1.4.16/nbproject/private/
/Micro-Manager-Addons-master/FrameAverager.1.4.18/nbproject/private/
/Micro-Manager-Addons-master/FrameAverager/nbproject/private/
/Micro-Manager-Addons-master/TopFrame/nbproject/private/
/Micro-Manager-Addons-master/FrameAverager.1.4.18/dist/
/Micro-Manager-Addons-master/FrameAverager/dist/
/Micro-Manager-Addons-master/FrameAverager.1.4.16/dist/
/FrameAveragerDebug/nbproject/private/
/uManagerSingleEdgeDemo/nbproject/private/
/uManagerSingleEdgeDemo/build/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/JavaApplication1/dist/
/uManagerSingleEdgeDemo/dist/
/uManager32BitDebug/nbproject/private/
/uManager32BitDebug/build/
/FLIMPlateReaderGUI/nbproject/private/
/FLIMPlateReaderGUI/build/
/FLIMPlateReaderGUI/dist/

FLIMPlateReaderGUI/src/com/github/dougkelly88/FLIMPlateReaderGUI/GeneralGUIComponents/HCAFLIMPluginFrame.form.BACKUP.164.form
FLIMPlateReaderGUI/src/com/github/dougkelly88/FLIMPlateReaderGUI/GeneralGUIComponents/HCAFLIMPluginFrame.form.BASE.164.form
FLIMPlateReaderGUI/src/com/github/dougkelly88/FLIMPlateReaderGUI/GeneralGUIComponents/HCAFLIMPluginFrame.form.LOCAL.164.form
FLIMPlateReaderGUI/src/com/github/dougkelly88/FLIMPlateReaderGUI/GeneralGUIComponents/HCAFLIMPluginFrame.form.REMOTE.164.form
FLIMPlateReaderGUI/src/com/github/dougkelly88/FLIMPlateReaderGUI/GeneralGUIComponents/HCAFLIMPluginFrame.java.orig
FLIMPlateReaderGUI/MANIFEST.MF
FLIMPlateReaderGUI/build.xml

/build.xml
/dist/
/build/
nbproject/private/private.xml
nbproject/project.properties
nbproject/private/private.properties
